RewriteEngine On
RewriteBase /mw-packagist/
RewriteRule packages.json packages.php [L]
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/css
ExpiresActive On
ExpiresByType text/css "access plus 1 week"
ExpiresByType application/json "access plus 1 day"
