SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/css
ExpiresActive On
ExpiresByType text/css "access plus 1 week"
ExpiresByType application/json "access plus 1 day"

Header set X-Frame-Options DENY
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy "default-src 'self'; object-src 'none'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'"
Header set Referrer-Policy strict-origin
